List of directives for ```datetime```:
```
%a - abbreviated weekday name
%A - full weekday name
%b - abbreviated month name
%B - full month name
%c - preferred date and time representation
%C - century number (the year divided by 100, range 00 to 99)
%d - day of the month (01 to 31)
%D - same as %m/%d/%y
%e - day of the month (1 to 31)
%g - like %G, but without the century
%G - 4-digit year corresponding to the ISO week number (see %V).
%h - same as %b
%H - hour, using a 24-hour clock (00 to 23)
%I - hour, using a 12-hour clock (01 to 12)
%j - day of the year (001 to 366)
%m - month (01 to 12)
%M - minute
%n - newline character
%p - either am or pm according to the given time value
%r - time in a.m. and p.m. notation
%R - time in 24 hour notation
%S - second
%t - tab character
%T - current time, equal to %H:%M:%S
%u - weekday as a number (1 to 7), Monday=1. Warning: In Sun Solaris Sunday=1
%U - week number of the current year, starting with the first Sunday as the first day of the first week
%V - The ISO 8601 week number of the current year (01 to 53), where week 1 is the first week that has at least 4 days in the current year, and with Monday as the first day of the week
%W - week number of the current year, starting with the first Monday as the first day of the first week
%w - day of the week as a decimal, Sunday=0
%x - preferred date representation without the time
%X - preferred time representation without the date
%y - year without a century (range 00 to 99)
%Y - year including the century
%Z or %z - time zone or name or abbreviation
%% - a literal % character
```

In [1]:
import datetime

In [2]:
# Sample Input
s = '''2
Sun 10 May 2015 13:54:36 -0700
Sun 10 May 2015 13:54:36 +0000
Sat 02 May 2015 19:54:36 +0530
Fri 01 May 2015 13:54:36 +0000'''

In [3]:
s = s.split('\n')

In [4]:
n= int(s[0])

In [5]:
dates = s[1:]

In [6]:
dates

['Sun 10 May 2015 13:54:36 -0700',
 'Sun 10 May 2015 13:54:36 +0000',
 'Sat 02 May 2015 19:54:36 +0530',
 'Fri 01 May 2015 13:54:36 +0000']

In [7]:
datePattern = '%a %d %b %Y %H:%M:%S'

In [8]:
dateString = dates[2]

d1_0 = datetime.datetime.strptime(dateString[:-6], datePattern)
offset = int(dateString[-4:-2])*60 + int(dateString[-2:])
d1_off = datetime.timedelta(minutes=offset)
d1_0

datetime.datetime(2015, 5, 2, 19, 54, 36)

In [9]:
d1 = d1_0 + d1_off
d1

datetime.datetime(2015, 5, 3, 1, 24, 36)

In [11]:
(d1 - d1_0).seconds

19800

In [12]:
dateString = dates[3]

d2_0 = datetime.datetime.strptime(dateString[:-6], datePattern)
offset = int(dateString[-4:-2])*60 + int(dateString[-2:])
d2_off = datetime.timedelta(minutes=offset)
d2_0

datetime.datetime(2015, 5, 1, 13, 54, 36)

In [13]:
d2 = d2_0 + d2_off
d2

datetime.datetime(2015, 5, 1, 13, 54, 36)

In [17]:
(d1 - d2).seconds

41400

In [15]:
d1.time(), d2.time()

(datetime.time(1, 24, 36), datetime.time(13, 54, 36))

In [18]:
offset

0